<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/Css/style.css">
    <title>WTF</title>
</head>
<body class="wrong_body">
    <header>
        <div class="appname">
            <h1>W.T.F</h1>
            <p>What´s Their Face</p>
            <a href="wrong">Wrong</a>
            <a href="start">Start</a>
            <a href="guess">Guess</a>
            <a href="finish">Finish</a>
            <a href="correct">Correct</a>
        </div>
    </header>
<nav>
    <h1>Class <%=@correct_student[0]['grade']%></h1>
</nav>

<main>
    <h1>Wrong!</h1>
    <img class="mugshot" src="/misc/<%=@correct_student[0]['picture']%>" alt="mugshot">
    <div class="Right_answer">
        <h2>This is</h2>
        <p><%=@correct_student[0]['firstname']%></p>
        <p><%=@correct_student[0]['lastname']%></p>
    </div>
    <div class="wrong_answer">
        <h2>Your guess</h2>
        <p><%=@firstname_guess%></p>
        <p><%=@lastname_guess%></p>
    </div>
    <form action="/new_student" method="POST">
        <button type="submit" class="next_button">Next</button>
    </form>
</main>
</body>
</html>